!!!
html
	head
		title Substance Transformer playground
	body
		div.request
			form(action='/tosubstance',method='post',name='input')
				input#url(type='url',size='100',name='url',value='https://dl.dropboxusercontent.com/u/606131/lens-intro.md')
				input#id_name(type='text',value='new_document',name='id')
				select#syntax(type='select',name='syntax')
					option(value='markdown',selected='true') Markdown
					option(value='html') HTML
				input.submit(type='submit',value='Go!')
		div.request
			form(action='/fromsubstance',method='post',name='input')
				input#url(type='url',size='100',name='url',value='https://raw.github.com/substance/substance/master/data/lorem_ipsum.json')
				select#syntax(type='select',name='syntax')
					option(value='markdown') Markdown
					option(value='html',selected='true') HTML
				input.submit(type='submit',value='Go!')